body {
   background-color: #cccccc;
   background-image: url("../public/images/brewery-large.jpg")
}

.beer {
  margin-left: 50px;
  margin-top: 30px;
  color: black;
}

.details{
  align-content: left;
}