body {
   background-color: #cccccc;
   background-image: url("../public/images/brewery-large.jpg")
}

.beer {
  columns: 3 10px;
  margin-left: 20px;
  margin-top: 15px;
  color: blue;
}

.textstyle{
  background-color: white;
  border-radius: 5px;
  height: 20px;
  border-width: 20px;
}

.detailstyle {
  background-color: white;
  text-align: bottom;
}

.beerInfo {
  align-self: center;
  text-align: center;
   position: fixed;
   bottom: 50px;
   width: 95%;
   height: 90px;
   background-color: white;
}
